.cabecalho {
    background-color: aquamarine;
    color: black;
    display: block;
    padding: 24px 0;
}

.section1 {
    background-color: aqua;
    padding: 100px;
}

.section2 {
    background-color: blue;
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.rodape{
    background-color: black;
    color: aqua;
    padding: 0 13px;
}